<html>
  
  <head>
    <h2>This ERB template will be used to test user input.</h2>
  </head>
  
  <body>
    
    <form name="submit" action="/" method="post">
      <select>
        <option value = "Manhattan">Manhattan</option>
      </select><br><br>
      Main Street:    <input type="text" name="main_st">  <br><br>
      From Street:    <input type="text" name="from_st">  <br><br>
      To Street:      <input type="text" name="to_st">    <br><br>
      Side of Street: <input type="text" name="side_st">  <br><br><br>
      
      <input type="submit" value="Submit">
  </form>

  </body>

</html>